# Environments
venv/
env/
.env

# Python Cache
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.pyo

# IDEs / OS files
.vscode/
.idea/
.DS_Store
*.swp

# Data files - NEVER track raw EMG data!
data/*.pkl
data/*.csv
data/*.npy
